* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.post {
  height: 250px;
  width: 200px;
  border: 10px solid #000;
  border-radius: 10px;
}
